<h1>Home</h1>

<h2>Phone Cases</h2>
<div class="row">
  <div class="card-deck-wrapper">
    <div clas="card-deck">
      <%= render @phones %>
    </div>
  </div>
</div>

<h2>Tablet Cases</h2>
<div class="row">
  <div class="card-deck-wrapper">
    <div clas="card-deck">
      <%= render @tablets %>
    </div>
  </div>
</div>

<h2>Laptop Cases</h2>
<div class="row">
  <div class="card-deck-wrapper">
    <div clas="card-deck">
      <%= render @laptops %>
    </div>
  </div>
</div>