<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Phone Cases', phones_path %></li>
    <li><%= link_to 'Tablet Cases', tablets_path %></li>
    <li><%= link_to 'Laptop Cases', laptops_path %></li>
  </ul>
</nav>