<div class="product">
  <p>
    <strong>Name:</strong>
    <%= product.design.name %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= product.device.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.design.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.device.price %>
  </p>
</div>