<div class="product">

  <p><%= link_to image_tag(product.design.image.url(:thumb)), product %></p>

  <p>
    <%= link_to product.design.name, product %>
  </p>
  
  <p>
    <strong><%= number_to_currency(product.device.price) %></strong>
  </p>
</div>