<%= render 'shared/search' %>

<h1>Products</h1>

<% if @products.present? %>
  <%= render @products %>
<% else %>
  <p>Can't find any Case that match the term(s) <%= params[:search] %>.</p>
<% end %>
